{% js vendor %}
{% js main %}
<footer class="footer">
  <div class="footer-logo footer-divs">
    <img src="/img/logo_02.png" class="logo-center">
    <h2>MoM</h2>
  </div>

  <div class="cards footer-divs">
    <div class="card-row">
      <div class="card">
        <h2>Product</h2>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
      </div>
      <div class="card">
        <h2>Product</h2>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <h2>Product</h2>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
      </div>
      <div class="card">
        <h2>Product</h2>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
        <p>Features</p>
      </div>
    </div>
  </div>
</footer>
