<footer class="footer">
  <div class="footer-logo footer-divs">
    <img src="/img/logo_02.png" alt="logo">
    <h2 class="footer-heading header-logo-text">MoM</h2>
  </div>

  <div class="cards footer-divs">
    <div class="card-row">
      <div class="card">
        <h2>PRODUCT</h2>
        <p>Features</p>
        <p>Pricing</p>
        <p>Free Trial</p>
      </div>
      <div class="card">
        <h2>LEARN</h2>
        <p>Blog</p>
        <p>Meeting Best Practices</p>
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <h2>COMPANY</h2>
        <p>Privacy</p>
        <p>Terms &amp; Conditions</p>
        <p>Contact Us</p>
      </div>
      <div class="card">
        <h2>SOCIAL</h2>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Linkedin</p>
        <p>Google+</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright 2016, MoM</p>
  </div>
</footer>
{% js vendor %}
{% js main %}
