h1 {
    text-align: center;
}

body {
    font-family: Roboto;
}

.block {
    background-color: $grey-lighter-color;
    border: 1px $border-color solid;
    box-shadow: 0 2px 5px $black-light-color;
    text-align: justify;
}

.mom-header {
    display: flex;
    justify-content: space-between;
    padding: 2em 15px;

    .header-text {
        align-self: center;
        font-size: 1.4em;
        font-weight: 900;
    }
}

.middle {
    text-align: center;
}

.main-title {
    margin-top: 2em;
    margin-bottom: .2em;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    margin-bottom: 3em;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 3em;
}

.space-above {
    margin-top: 3em;
}

.less-space-above {
    margin-top: .5em;
}

.background-section-3 {
  background-image: url(/img/insights_bg.jpg);
  background-size: cover;
}

.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 2em;
    padding-top: 2em;

    h3 {
      font-size: 40px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
}

.card {
    margin: 1em;
    border: 0px;
    width: 40%;
    background: inherit;

    h2 {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding-bottom: .8em;
    }

    p {
        font-size: 15px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8e9aac;
    }
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-divide {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;

    button {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 30.2px;
        background-color: #1ea2ff;
        border: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    p {
      text-align: left;
    }
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 12em;
    margin-bottom: 10em;

    img {
      width: auto;
      height: 70px;
    }

    span {
      display: flex;
      align-items: center;
    }

    p {
      text-align: left;
      margin-top: 1em;
      padding: .5em;
      font-weight: 100;
    }

    h3 {
      margin: .5em;
      font-weight: 100;
    }

    hr {
      display: none;
    }
}

.section-1 {
    background-image: url('/img/banner.jpg');
    background-size: cover;

    .main-title-font {
        font-size: 38px;
        font-weight: 580;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .sub-title-font {
        font-size: 22.2px;
        font-weight: 50;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    h2 {
        font-size: 15px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .button-trial {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 30.2px;
        background-color: #1ea2ff;
        border: 0;
        padding-top: .9em;
        padding-bottom: .9em;
        padding-left: 1.6em;
        padding-right: 1.6em;
    }

}

.contain-background {
    object-fit: contain;
}

.section-4 {
    background-color: #273140;
    flex-direction: column;
    h2 {
      color: white;
      font-weight: 100;
    }

    .customer-logo {
      width: 70px;
    }

    h3 {
      color: white;
    }

    .customer-review {
      width: 50%;
      font-size: 15.5px;
      font-weight: 100;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    .orange-text {
      color: #f27f21;
    }

    hr {
        height: 1px;
        border: 0;
        border-top: .8px solid #ffffff;
        width: 50%;
        margin-bottom:2em;
    }

    p {
      font-size: 15.5px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    
    .button-trial {
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 30.2px;
    background-color: #1ea2ff;
    border: 0;
    padding-top: .9em;
    padding-bottom: .9em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    }
    
    .colored-dot {
      color: #fd2e72;
      font-size: 40px;
      margin-top: -.5em;
    }

    .sub-title {
      font-size: x-large;
      margin-top: 0px;
    }

    .cards {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin-top: 1em;
      margin-bottom: 1em;

      .card-4 {
        border-radius: 9px;
        background-color: #3e4a5c;
        background-color: var(--slate);
      }
    }
}

.section-5 {
    background-color: #212a38;
    flex-direction: column;

    input {
      background-color: #212a38;
      border: 0;
      border-bottom: 1px solid black;
      text-align: center;
      color: rgba(255, 255, 255, 0.2);
      margin-top: 2em;
    }
    
    button {
        font-size: 19px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        border-radius: 30.2px;
        background-color: #1ea2ff;
        border: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 5em;
        padding-right: 5em;
        margin-top: 2em;
        margin-bottom: 3em;
    }
}

.section-6 {
    background-color: #212a38;
    flex-direction: row;
}

.white-text {
    color: white;
}

.mock_01 {
    width: 100%;
    height: 100%;
}

.mock_02 {
    width: 100%;
    height: auto;
    margin-left: 10%;

    @media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .item-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .center-divide {
        width: 100%;
    }

    #testmobile {
        display: none;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        hr {
           display: block;
           height: 1px;
           border: 0;
           border-top: 1px solid #656565;
           width: 90%;
           margin-bottom:2em;
        }
    }

    .section-3 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        background-image: url('/img/insights_bg.jpg');
        flex-direction: column;
    }

    .mom-header {
        display: flex;
        padding-top: 15px;
        padding-right: 0px;
        margin-right: 0px;
        .header-text {
            align-self: center;
            font-size: 1.4em;
            font-weight: 900;
        }

        .card-row {
            display: flex;
            flex-direction: row;
        }

        .footer-divs {
            width: 100%;
        }

    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        color: white;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: white;
}

a {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.oval-button {
    border-radius: 19.9px;
    border: solid 1.1px #ffffff;
    background: transparent;
    color: white;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: -15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212a37;
    color: white;

    .cards {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin-bottom: 0;
      p {
      padding: 0;
      margin-top: 0;
      }
      @media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        flex-direction: column;
      }
    }
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.4em;
    img {
        width: 35px;
        height: auto;
    }
    .footer-heading {
        margin-left: 1em;
    }
}

.footer-divs {
    width: 50%;
    margin-top: 1.5em;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    @media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 100%;
    }

    .extra-padding {
      padding : 1em;
    }

    h4 {
      color : white;
      font-weight: 100;
      font-size: 1.2rem;
    }
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2147483647;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 13px 15px 0px 15px;
    color: #fff;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 2147483647;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #131313;
    position: absolute;
    text-align: center;
    margin-left: -15px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
    }

    li {
      display: block;
      padding: 15px 0 15px 0;
      border-bottom: #1d1f20 1px solid;
    }

    li:hover {
      display: block;
      background: #181818;
      padding: 15px 0 15px 0;
      border-bottom: #1d1f20 1px solid;
    }

    ul li a {
      text-decoration: none;
      margin: 0px;
      color: #fff;
    }

    ul li a:hover {
      color: #fff;
      text-decoration: none;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

.container-padding-9 {
    padding-left: 9%;
    padding-right: 9%;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    @media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 30%;
    }

    img {
      width: auto; 
      height: 35px; 
      margin: -5px;
    }
}

.header-logo-text {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.copyright {
    background-color: #1d2531;
    display: flex;
    padding: .6em;
    padding-bottom: .4em;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #3e4959;
    }

}

.tag-line {
  font-size: 16px;
  width: 50%;
  font-weight: 100;
}

.section-2-logo {
  width:auto;
  height:50px;
}

.header-logo-image {
  width:auto; 
  height:35px; 
  margin: -5px;
}

.between-sections {
  height: 1px;
  border: 0;
  border-top: .8px solid #ffffff;
  width: 50%;
  padding: 0;
  margin: 0;
}
